/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-main {
  border: 1px solid #579c87;
  background-color: #579c87;
  padding: 20px;
  text-align: center;
}

.header-main .logo-main {
  width: 250px;
  height: 60px;
}

.footer-main {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .footer-main {
    position: -webkit-sticky;
    position: sticky;
  }
}

.footer-main .link-footer {
  background-color: #579c87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
}

@media only screen and (max-width: 768px) {
  .footer-main .link-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-main .link-footer a:nth-child(2) {
    margin-top: 5px;
  }
}

.footer-main .link-footer a {
  font-size: 1.5em;
  text-decoration: none;
  color: #fdcb46;
  font-family: "arial";
  font-weight: 500;
}

.footer-main .link-footer a:hover {
  -webkit-animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@font-face {
  font-family: "Devonshire";
  src: url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.eot");
  src: url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.woff") format("woff"), url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.svg#Devonshire") format("svg");
}

@font-face {
  font-family: "Croissant One";
  src: url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.eot");
  src: url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.woff") format("woff"), url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.svg#Croissant One") format("svg");
}

@font-face {
  font-family: "Dancing Script";
  src: url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.eot");
  src: url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.woff") format("woff"), url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.svg#Dancing Script") format("svg");
}

@font-face {
  font-family: "Kaushan Script";
  src: url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.eot");
  src: url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.woff") format("woff"), url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.svg#Kaushan Script") format("svg");
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body,
html {
  height: 100%;
}

#bloc-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.link-menu {
  text-decoration: none;
  color: inherit;
}

.menu-together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-together .menu-high,
.menu-together .menu-low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .menu-together .menu-high,
  .menu-together .menu-low {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-hover {
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.menu-hover:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.menu-first {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  -webkit-box-shadow: 1px 1px 10px #b4b3b3;
          box-shadow: 1px 1px 10px #b4b3b3;
  background-color: #fcdfdb;
  color: #3d1319;
}

.menu-first .logo-menu1 {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.menu-first .title-menu-first {
  font-size: 1.5em;
  font-family: "devonshire";
  margin: 10px 0 30px;
}

.menu-first .subtitle-menu-first {
  font-size: 2em;
  font-family: "segoe print";
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.menu-second {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  -webkit-box-shadow: 1px 1px 10px #b4b3b3;
          box-shadow: 1px 1px 10px #b4b3b3;
  background-color: #fff5fe;
}

.menu-second .title-menu-second {
  color: #c67412;
  background: -webkit-linear-gradient(45deg, #c67412, #a56799, #6e4ccc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 1.2em;
  font-family: "Croissant One";
  margin: 30px;
}

.menu-second .subtitle-menu-second {
  color: #c77412;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.menu-third {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  -webkit-box-shadow: 1px 1px 10px #b4b3b3;
          box-shadow: 1px 1px 10px #b4b3b3;
  background-color: #edefef;
}

.menu-third .title-menu-third {
  color: #0228dd;
  background: -webkit-linear-gradient(45deg, #0228dd, #0670f3, #229df9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 1.6em;
  font-family: "Dancing Script";
  padding: 5px;
}

.menu-third .subtitle-menu-third {
  font-size: 2em;
  font-family: "segoe print";
  color: #0887fb;
  margin-top: 35px;
  text-align: center;
}

.menu-fourth {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  -webkit-box-shadow: 1px 1px 10px #b4b3b3;
          box-shadow: 1px 1px 10px #b4b3b3;
  background-color: #fdfffd;
}

.menu-fourth .title-menu-fourth {
  color: #3d923a;
  background: -webkit-linear-gradient(45deg, #3d923a, #7cc75c, #beff7f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 1.6em;
  font-family: "Kaushan Script";
  margin: 20px;
  padding: 10px;
}

.menu-fourth .subtitle-menu-fourth {
  font-size: 2em;
  font-family: "segoe print";
  color: #72bf56;
  text-align: center;
}

.menu-fourth {
  -webkit-box-shadow: 1px 1px 10px #b4b3b3;
          box-shadow: 1px 1px 10px #b4b3b3;
  background-color: #fdfffd;
}

.menu-fourth .title-menu-fourth {
  font-family: "Kaushan Script";
}

.soon {
  font-size: 1.8em;
  text-align: center;
  color: #fdcb46;
  background-color: #579c87;
  padding: 10px;
  margin: 0 750px 90px;
  border-radius: 0.2em;
  font-family: "arial";
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .soon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 60px 80px 100px;
  }
}

.soon span:nth-child(1) {
  -webkit-animation: blink 3s 1s infinite both;
          animation: blink 3s 1s infinite both;
  margin-right: 2px;
}

.soon span:nth-child(2) {
  -webkit-animation: blink 3s 1.2s infinite both;
          animation: blink 3s 1.2s infinite both;
  margin-right: 2px;
}

.soon span:nth-child(3) {
  -webkit-animation: blink 3s 1.4s infinite both;
          animation: blink 3s 1.4s infinite both;
}

.title-menu-third {
  font-family: "MV boli";
  font-weight: normal;
}

.menu-third p {
  font-family: "devonshire";
  font-weight: normal;
}

.main-content {
  -webkit-box-shadow: 1px 1px 10px #b4b3b3;
          box-shadow: 1px 1px 10px #b4b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcdfdb;
  color: #3d1319;
  width: 80%;
  margin: 0 auto 200px;
}

@media only screen and (max-width: 768px) {
  .main-content {
    font-size: 0.5em;
  }
}

.main-content--bg2 {
  background-color: #fff5fe;
}

.main-content--bg3 {
  background-color: #edefef;
}

.main-content--bg4 {
  background-color: #fdfffd;
}

.restaurant-name {
  font-size: 3em;
  text-align: center;
  padding: 50px 0 20px 0;
}

.name-low {
  font-size: 2.5em;
  font-family: "devonshire";
  margin: 50px 0;
}

.name-low img {
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

.logo-title {
  font-size: 3.3em;
  font-family: "devonshire";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-title img {
  text-align: center;
  width: 70px;
  height: 70px;
  margin-top: 50px;
}

.category-menu {
  font-family: "segoe print";
  font-size: 2em;
  padding: 100px 0 50px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .category-menu {
    font-family: "segoe print";
    font-size: 1.8em;
    padding: 100px 0 50px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
}

.category-menu img {
  width: 350px;
}

@media only screen and (max-width: 768px) {
  .category-menu img {
    width: 80px;
    height: 20px;
  }
}

.category-menu--start2 {
  color: #c67412;
  font-family: inherit;
}

.category-menu--main-course2 {
  color: #a56799;
  font-family: inherit;
}

.category-menu--desserts2 {
  color: #6e4ccc;
  font-family: inherit;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.category-menu--first .underline-title {
  position: relative;
}

.category-menu--first .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #3d1319;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--first .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--start2 .underline-title {
  position: relative;
}

.category-menu--start2 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #c67412;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--start2 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--main-course2 .underline-title {
  position: relative;
}

.category-menu--main-course2 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #a56799;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--main-course2 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--desserts2 .underline-title {
  position: relative;
}

.category-menu--desserts2 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #6e4ccc;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--desserts2 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--start3 .underline-title {
  position: relative;
}

.category-menu--start3 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #0228dd;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--start3 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--main-course3 .underline-title {
  position: relative;
}

.category-menu--main-course3 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #0670f3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--main-course3 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--desserts3 .underline-title {
  position: relative;
}

.category-menu--desserts3 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #229df9;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--desserts3 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--start4 .underline-title {
  position: relative;
}

.category-menu--start4 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #3d923a;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--start4 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--main-course4 .underline-title {
  position: relative;
}

.category-menu--main-course4 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #7cc75c;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--main-course4 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.category-menu--desserts4 .underline-title {
  position: relative;
}

.category-menu--desserts4 .underline-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #beff7f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.category-menu--desserts4 .underline-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/*************** menu 1 ***************/
.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  padding-bottom: 20px;
  font-family: "segoe print";
}

.dish p:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dish p:nth-child(2) {
  font-weight: bold;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

/*************** menu 2 ***************/
.second-restaurant-name {
  color: #c67412;
  background: -webkit-linear-gradient(45deg, #c67412, #a56799, #6e4ccc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 2.8em;
  font-family: "Croissant One";
  margin: 150px 0 50px;
}

.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.dish--start-menu2 {
  color: #c67412;
  font-family: "Times New Roman";
}

.dish--start-menu2 p:nth-child(2) {
  font-weight: normal;
}

.dish--main-menu2 {
  color: #a56799;
  font-family: "Times New Roman";
}

.dish--main-menu2 p:nth-child(2) {
  font-weight: normal;
}

.dish--desserts-menu2 {
  color: #6e4ccc;
  font-family: "Times New Roman";
}

.dish--desserts-menu2:nth-child(3) {
  margin-bottom: 200px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.category--menu2 .dish-p {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

/*************** menu 3 ***************/
.third-restaurant-name {
  color: #0228dd;
  background: -webkit-linear-gradient(45deg, #0228dd, #0670f3, #229df9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 6.8em;
  font-family: "Dancing Script";
  padding: 10px;
  margin: 130px 0 100px;
}

@media only screen and (max-width: 768px) {
  .third-restaurant-name {
    text-align: center;
  }
}

.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.dish--start-menu3 p:nth-child(2), .dish--main-menu3 p:nth-child(2), .dish--desserts-menu3 p:nth-child(2) {
  font-weight: normal;
}

.dish--desserts-menu3:nth-child(3) {
  margin-bottom: 200px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.category--menu3 {
  font-family: "segoe print";
  color: #000000;
}

.category--menu3 .dish-p {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.category .category-menu {
  font-weight: normal;
}

/*************** menu 4 ***************/
.fourth-restaurant-name {
  color: #3d923a;
  background: -webkit-linear-gradient(45deg, #3d923a, #7cc75c, #beff7f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 6.8em;
  font-family: "Kaushan Script";
  padding: 40px;
  margin: 130px 0 50px;
}

@media only screen and (max-width: 768px) {
  .fourth-restaurant-name {
    text-align: center;
  }
}

.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.dish--start-menu4 p:nth-child(2), .dish--main-menu4 p:nth-child(2), .dish--desserts-menu4 p:nth-child(2) {
  font-weight: normal;
}

.dish--desserts-menu4:nth-child(3) {
  margin-bottom: 200px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.category--menu4 {
  font-family: "segoe print";
  color: #000000;
}

.category--menu4 .dish-p {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.category .underline-title {
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */