@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

@import "reset.min";

@import "layout/header";
@import "layout/footer";
@import "base/typography";

body {
  display: flex;
  justify-content: center;
}

body,
html {
  height: 100%;
}

#bloc-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.link-menu {
  text-decoration: none;
  color: inherit;
}

.menu-together {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-high,
  .menu-low {
    display: flex;
    flex-direction: row;
  }
}

.menu-first,
.menu-second,
.menu-third,
.menu-fourth {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.menu-first {
  background-color: $colour-menu-1;
  color: $colour-text-menu1;
  box-shadow: 1px 1px 10px rgb(180, 179, 179);

  .logo-menu1 {
    width: 50px;
    height: 50px;
  }

  .title-menu-first {
    font-size: $font-size;
    font-family: $font-menu1;
    margin: 10px 0 30px;
  }

  .subtitle-menu-first {
    font-family: $font-subtitle-menu;
    font-size: $font-size + 0.5;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.menu-second {
  background-color: $colour-menu-2;
  box-shadow: 1px 1px 10px rgb(180, 179, 179);

  .title-menu-second {
    font-family: "Croissant One";
    font-size: $font-size - 0.3;
    margin: 30px;
  }

  .subtitle-menu-second {
    color: $colour-text-menu2;
    font-size: $font-size + 1;
    font-weight: bold;
  }
}

.menu-third {
  background-color: $colour-menu-3;
  box-shadow: 1px 1px 10px rgb(180, 179, 179);

  .title-menu-third {
    font-family: $font-menu3;
    font-size: $font-size + 0.1;
  }

  .subtitle-menu-third {
    //color: $colour-text-menu3;
    font-size: $font-size + 0.5;
    font-family: $font-subtitle-menu;
    margin-top: 35px;
  }
}

.menu-fourth {
  background-color: $colour-menu-4;
  box-shadow: 1px 1px 10px rgb(180, 179, 179);

  .title-menu-fourth {
    font-family: $font-menu4;
    font-size: $font-size + 0.1;
    margin: 30px;
  }

  .subtitle-menu-fourth {
    //color: $colour-text-menu4;
    font-size: $font-size + 0.5;
    font-family: $font-subtitle-menu;
  }
}

.menu-fourth {
  background-color: $colour-menu-4;
  box-shadow: 1px 1px 10px rgb(180, 179, 179);

  .title-menu-fourth {
    font-family: $font-menu4;
  }
}

.soon {
  font-size: $font-size + 0.3;
  text-align: center;
  color: $colour-text-soon;
  background-color: $colour-primary;
  padding: 10px;
  margin: 0 750px 90px;
  border-radius: 0.2em;
  font-family: "arial";
  font-weight: bold;
}

.title-menu-third {
  font-family: "MV boli";
  font-weight: normal;
}

.menu-third p {
  font-family: $font-menu1;
  font-weight: normal;
}

// menu1-2-3-4.html

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colour-menu-1;
  color: $colour-text-menu1;
  width: 80%;
  margin: 0 auto 200px;
  box-shadow: 1px 1px 10px rgb(180, 179, 179);

  &--bg2 {
    background-color: $colour-menu-2;
  }

  &--bg3 {
    background-color: $colour-menu-3;
  }

  &--bg4 {
    background-color: $colour-menu-4;
  }
}

.restaurant-name {
  font-size: $font-size + 1.5;
  text-align: center;
  padding: 50px 0 20px 0;
}

.name-low {
  font-family: $font-menu1;
  font-size: $font-size + 1;
  margin: 50px 0;
  img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
  }
}

.logo-title {
  font-size: $font-size + 1.8;
  font-family: $font-menu1;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    text-align: center;
    width: 70px;
    height: 70px;
    margin-top: 50px;
  }
}

.category-menu {
  @include category-menu;

  img {
    width: 350px;
  }

  &--start {
    color: $colour-start-menu2;
    font-family: inherit;
  }

  &--main-course {
    color: $colour-main-course-menu2;
    font-family: inherit;
  }

  &--desserts {
    color: $colour-desserts-menu2;
    font-family: inherit;
  }
}

.category {
  @include category;
}

/*************** menu 1 ***************/
.dish {
  @include dish;
  font-family: $font-category;

  p {
    &:nth-child(1) {
      flex: 1;
    }
    &:nth-child(2) {
      font-weight: bold;
      flex: 0;
    }
  }
}

/*************** menu 2 ***************/
.second-restaurant-name {
  font-family: "Croissant One";
  font-size: $font-size + 1.3;
  margin: 150px 0 50px;
}

.dish {
  @include dish;

  &--start-menu2 {
    color: $colour-start-menu2;
    font-family: "Times New Roman";
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--main-menu2 {
    color: $colour-main-course-menu2;
    font-family: "Times New Roman";

    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--desserts-menu2 {
    color: $colour-desserts-menu2;
    font-family: "Times New Roman";

    &:nth-child(3) {
      margin-bottom: 200px;
    }
  }
}

.category {
  @include category;

  &--menu2 {
    .dish-p {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
}

/*************** menu 3 ***************/

.third-restaurant-name {
  font-family: $font-menu3;
  font-size: $font-size + 5.3;
  margin: 130px 0 100px;
}

.dish {
  @include dish;

  &--start-menu3 {
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--main-menu3 {
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--desserts-menu3 {
    p:nth-child(2) {
      font-weight: normal;
    }

    &:nth-child(3) {
      margin-bottom: 200px;
    }
  }
}

.category {
  @include category;

  &--menu3 {
    font-family: $font-subtitle-menu;
    color: #000;
    .dish-p {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
}

/*************** menu 4 ***************/

.fourth-restaurant-name {
  font-family: $font-menu4;
  font-size: $font-size + 5.3;
  margin: 130px 0 100px;
}

.dish {
  @include dish;

  &--start-menu4 {
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--main-menu4 {
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--desserts-menu4 {
    p:nth-child(2) {
      font-weight: normal;
    }

    &:nth-child(3) {
      margin-bottom: 200px;
    }
  }
}

.category {
  @include category;

  &--menu4 {
    font-family: $font-subtitle-menu;
    color: #000;
    .dish-p {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
}
