@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

@import "reset.min";

@import "layout/header";
@import "layout/footer";
@import "base/typography";
@import "base/animation";

body {
  display: flex;
  justify-content: center;
}

body,
html {
  height: 100%;
}

#bloc-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.link-menu {
  text-decoration: none;
  color: inherit;
}

.menu-together {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-high,
  .menu-low {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
    @media only screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
}

.menu-hover {
  @include menu-hover;
}

.menu-first {
  @include layout-menu-index;
  @include box-shadow;
  background-color: $colour-menu-1;
  color: $colour-text-menu1;

  .logo-menu1 {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
  }

  .title-menu-first {
    @include fonts($font-size, $font-menu1);
    margin: 10px 0 30px;
  }

  .subtitle-menu-first {
    @include fonts($font-size + 0.5, $font-subtitle-menu);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
}

.menu-second {
  @include layout-menu-index;
  @include box-shadow;
  background-color: $colour-menu-2;

  .title-menu-second {
    @include gradient-text;
    @include fonts($font-size - 0.3, $font-title-menu2);
    margin: 30px;
  }

  .subtitle-menu-second {
    color: $colour-text-menu2;
    font-size: $font-size + 1;
    font-weight: bold;
    text-align: center;
  }
}

.menu-third {
  @include layout-menu-index;
  @include box-shadow;
  background-color: $colour-menu-3;

  .title-menu-third {
    @include gradient-text(45deg, #0228dd, #0670f3, #229df9, 35%);
    @include fonts($font-size + 0.1, $font-menu3);
    padding: 5px;
  }

  .subtitle-menu-third {
    @include fonts($font-size + 0.5, $font-subtitle-menu);
    color: $colour-text-subtitle-menu3;
    margin-top: 35px;
    text-align: center;
  }
}

.menu-fourth {
  @include layout-menu-index;
  @include box-shadow;
  background-color: $colour-menu-4;

  .title-menu-fourth {
    @include gradient-text(45deg, #3d923a, #7cc75c, #beff7f);
    @include fonts($font-size + 0.1, $font-menu4);
    margin: 20px;
    padding: 10px;
  }

  .subtitle-menu-fourth {
    @include fonts($font-size + 0.5, $font-subtitle-menu);
    color: $colour-text-subtitle-menu4;
    text-align: center;
  }
}

.menu-fourth {
  @include box-shadow;
  background-color: $colour-menu-4;

  .title-menu-fourth {
    font-family: $font-menu4;
  }
}

.soon {
  font-size: $font-size + 0.3;
  text-align: center;
  color: $colour-text-soon;
  background-color: $colour-primary;
  padding: 10px;
  margin: 0 750px 90px;
  border-radius: 0.2em;
  font-family: "arial";
  font-weight: bold;

  @media only screen and (max-width: 1440px) {
    margin: 50px 400px 130px;
  }

  @media only screen and (max-width: 992px) {
    margin: 50px 300px 130px;
  }

  @media only screen and (max-width: 768px) {
    align-self: center;
    margin: 60px 80px 100px;
  }
  @media only screen and (max-width: 576px) {
    margin: 60px 50px 100px;
  }
  span {
    &:nth-child(1) {
      animation: blink 3s 1s infinite both;
      margin-right: 2px;
    }
    &:nth-child(2) {
      animation: blink 3s 1.2s infinite both;
      margin-right: 2px;
    }
    &:nth-child(3) {
      animation: blink 3s 1.4s infinite both;
    }
  }
}

.title-menu-third {
  font-family: "MV boli";
  font-weight: normal;
}

.menu-third p {
  font-family: $font-menu1;
  font-weight: normal;
}

// menu1-2-3-4.html

.main-content {
  @include box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colour-menu-1;
  color: $colour-text-menu1;
  width: 80%;
  margin: 0 auto 200px;

  @media only screen and (max-width: 768px) {
    font-size: $font-size / 3;
  }

  &--bg2 {
    background-color: $colour-menu-2;
  }

  &--bg3 {
    background-color: $colour-menu-3;
  }

  &--bg4 {
    background-color: $colour-menu-4;
  }
}

.restaurant-name {
  font-size: $font-size + 1.5;
  text-align: center;
  padding: 50px 0 20px 0;
}

.name-low {
  @include fonts($font-size + 1, $font-menu1);
  margin: 50px 0;
  img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
  }
}

.logo-title {
  @include fonts($font-size + 1.8, $font-menu1);
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    text-align: center;
    width: 70px;
    height: 70px;
    margin-top: 50px;
  }
}

.category-menu {
  @include category-menu($font-size + 0.5);

  @media only screen and (max-width: 768px) {
    @include category-menu($font-size + 0.3);
    text-align: center;
  }

  @media only screen and (max-width: 992px) {
    text-align: center;
  }

  img {
    width: 350px;
    @media only screen and (max-width: 992px) {
      width: 140px;
      height: 30px;
    }

    @media only screen and (max-width: 768px) {
      width: 80px;
      height: 20px;
    }
  }

  &--start2 {
    color: $colour-start-menu2;
    font-family: inherit;
  }

  &--main-course2 {
    color: $colour-main-course-menu2;
    font-family: inherit;
  }

  &--desserts2 {
    color: $colour-desserts-menu2;
    font-family: inherit;
  }
}

.category {
  @include category;
}

.category-menu {
  &--first {
    @include underline($colour-text-menu1);
  }
  &--start2 {
    @include underline($colour-start-menu2);
  }
  &--main-course2 {
    @include underline($colour-main-course-menu2);
  }
  &--desserts2 {
    @include underline($colour-desserts-menu2);
  }
  &--start3 {
    @include underline($colour-underline-start-menu3);
  }
  &--main-course3 {
    @include underline($colour-underline-main-menu3);
  }
  &--desserts3 {
    @include underline($colour-underline-desserts-menu3);
  }
  &--start4 {
    @include underline($colour-underline-start-menu4);
  }
  &--main-course4 {
    @include underline($colour-underline-main-menu4);
  }
  &--desserts4 {
    @include underline($colour-underline-desserts-menu4);
  }
}

/*************** menu 1 ***************/
.dish {
  @include dish;
  font-family: $font-category;

  p {
    &:nth-child(1) {
      flex: 1;
    }
    &:nth-child(2) {
      font-weight: bold;
      flex: 0;
    }
  }
}

/*************** menu 2 ***************/
.second-restaurant-name {
  @include gradient-text;
  @include fonts($font-size + 1.3, $font-title-menu2);
  margin: 150px 0 50px;
}

.dish {
  @include dish;

  &--start-menu2 {
    color: $colour-start-menu2;
    font-family: "Times New Roman";
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--main-menu2 {
    color: $colour-main-course-menu2;
    font-family: "Times New Roman";

    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--desserts-menu2 {
    color: $colour-desserts-menu2;
    font-family: "Times New Roman";

    &:nth-child(3) {
      margin-bottom: 200px;
    }
  }
}

.category {
  @include category;

  &--menu2 {
    .dish-p {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
}

/*************** menu 3 ***************/

.third-restaurant-name {
  @include gradient-text(45deg, #0228dd, #0670f3, #229df9, 35%);
  @include fonts($font-size + 5.3, $font-menu3);
  padding: 10px;
  margin: 130px 0 100px;

  @media only screen and (max-width: 768px) {
    text-align: center;
  }

  @media only screen and (max-width: 992px) {
    text-align: center;
  }
}

.dish {
  @include dish;

  &--start-menu3,
  &--main-menu3,
  &--desserts-menu3 {
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--desserts-menu3 {
    &:nth-child(3) {
      margin-bottom: 200px;
    }
  }
}

.category {
  @include category;
  &--menu3 {
    font-family: $font-subtitle-menu;
    color: $colour-text-menu3;
    .dish-p {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
  .category-menu {
    font-weight: normal;
  }
}

/*************** menu 4 ***************/

.fourth-restaurant-name {
  @include gradient-text(45deg, #3d923a, #7cc75c, #beff7f, 35%);
  @include fonts($font-size + 5.3, $font-menu4);
  padding: 40px;
  margin: 130px 0 50px;

  @media only screen and (max-width: 768px) {
    text-align: center;
  }

  @media only screen and (max-width: 992px) {
    text-align: center;
  }
}

.dish {
  @include dish;

  &--start-menu4,
  &--main-menu4,
  &--desserts-menu4 {
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  &--desserts-menu4 {
    &:nth-child(3) {
      margin-bottom: 200px;
    }
  }
}

.category {
  @include category;

  &--menu4 {
    font-family: $font-subtitle-menu;
    color: $colour-text-menu4;
    .dish-p {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
  .underline-title {
    padding-bottom: 10px;
  }
}

/********** Legal Notices **********/
.legal-p {
  text-align: justify;
  font-size: $font-size * 1.1;
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 100px;
  }
}

.legal-h1 {
  font-size: $font-size * 2;
  margin: 40px;
}

.legal-h2 {
  font-size: $font-size * 1.5;
  margin-bottom: 20px;
}

.legal-main {
  width: 60%;
  display: flex;
  text-align: center;
  align-self: center;
  flex-direction: column;
}
