//Couleur fond
$colour-primary: #579c87;
$colour-menu-1: #fcdfdb;
$colour-menu-2: #fff5fe;
$colour-menu-3: #edefef;
$colour-menu-4: #fdfffd;

//Couleur texte
$colour-text-footer: #fdcb46;
$colour-text-soon: #fdcb46;
$colour-text-menu1: #3d1319;
$colour-text-menu2: #c77412;
$colour-start-menu2: #c67412;
$colour-main-course-menu2: #a56799;
$colour-desserts-menu2: #6e4ccc;
$colour-text-menu3: #000000;
$colour-text-subtitle-menu3: #0887fb;
$colour-text-menu4: #000000;
$colour-text-subtitle-menu4: #72bf56;
$colour-underline-start-menu3: #0228dd;
$colour-underline-main-menu3: #0670f3;
$colour-underline-desserts-menu3: #229df9;
$colour-underline-start-menu4: #3d923a;
$colour-underline-main-menu4: #7cc75c;
$colour-underline-desserts-menu4: #beff7f;

//Police
$font-menu1: "devonshire";
$font-title-menu2: "Croissant One";
$font-subtitle-menu: "segoe print";
$font-category: "segoe print";
$font-menu3: "Dancing Script";
$font-menu4: "Kaushan Script";

//Taille du texte
$font-size: 1.5em !default;
