.footer-main {
  position: fixed;
  bottom: 0;
  width: 100%;
  @media only screen and (max-width: 768px) {
    position: sticky;
  }

  .link-footer {
    background-color: $colour-primary;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      a {
        &:nth-child(2) {
          margin-top: 5px;
        }
      }
    }

    a {
      font-size: 1.5em;
      text-decoration: none;
      color: $colour-text-footer;
      font-family: "arial";
      font-weight: 500;
      //animation shake
      &:hover {
        animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      }
    }
  }
}
