.footer-main {
  position: fixed;
  bottom: 0;
  width: 100%;

  .link-footer {
    background-color: $colour-primary;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;

    a {
      font-size: 1.5em;
      text-decoration: none;
      color: $colour-text-footer;
      font-family: "arial";
      font-weight: 500;
    }
  }
}
