@font-face {
  font-family: "Devonshire";
  src: url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.eot");
  src: url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.svg#Devonshire")
      format("svg");
}

@font-face {
  font-family: "Croissant One";
  src: url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.eot");
  src: url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.svg#Croissant One")
      format("svg");
}

@font-face {
  font-family: "Dancing Script";
  src: url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.eot");
  src: url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/19e6f41bd8bd926334061a1b192c045f.svg#Dancing Script")
      format("svg");
}

@font-face {
  font-family: "Kaushan Script";
  src: url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.eot");
  src: url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/51d11a72b39f33f909abddc723d66f03.svg#Kaushan Script")
      format("svg");
}
