@font-face {
  font-family: "Devonshire";
  src: url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.eot");
  src: url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/143f05526fe60a2b848f2b4fb4aa1cee.svg#Devonshire")
      format("svg");
}

@font-face {
  font-family: "Croissant One";
  src: url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.eot");
  src: url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e206a90d8abed5fa2ba8a9cdf6f18ab2.svg#Croissant One")
      format("svg");
}
